/****************************************/
/* CSS VARIABLES */
/****************************************/
:root {
  --color-primary-darker: #141414;
  --color-secondary-darker: #222;
  --color-font-light: #fff;
  --color-font-dark: #666;
  --color-border: #ccc;
}

/****************************************/
/* GENERAL */
/****************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 120rem;
  font-family: "Space Grotesk", sans-serif;
  margin: 0 auto;
}

/****************************************/
/* HEADER */
/****************************************/

.heading-primary {
  font-size: 2.8rem;
  color: var(--color-primary-darker);
  margin: 2.4rem 0 1.8rem 0;
  font-weight: 700;
}

.top-info {
  font-size: 1.4rem;
  color: var(--color-primary-darker);
  margin: 1.4rem 0 4rem;
}

.top-info-txt {
  color: var(--color-font-dark);
}

/****************************************/
/* MAIN */
/****************************************/

/* TAGS */

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 2rem 0 4rem 0;
}

.btn {
  background: none;
  height: 4.2rem;
  width: 16.4rem;
  padding: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.2px solid var(--color-border);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  background-color: var(--color-primary-darker);
  color: var(--color-font-light);
  border: none;
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.card {
  position: relative;
  height: 36rem;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.card-thumbnail {
  z-index: -1;
  width: 100%;
}

.card-content {
  height: 45%;
  background-color: var(--color-primary-darker);
  color: var(--color-font-light);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.card-heading {
  font-size: 1.8rem;
  margin: 2rem 2rem;
}

.card-holders {
  position: absolute;
  bottom: 1.4rem;
  height: 6rem;
  width: 18rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  background-color: var(--color-secondary-darker);
  border-radius: 4px;
  margin-left: 2rem;
}

.vote {
  font-weight: 700;
}

.vote-count {
  font-weight: 300;
}

/* LOAD MORE AND LOAD BUTTON */
.loading,
.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.load-btn {
  background-color: var(--color-primary-darker);
  color: var(--color-font-light);
  transition: all 0.3s ease-in-out;
}

.load-btn:hover {
  background-color: var(--color-secondary-darker);
  color: var(--color-font-light);
}

/****************************************/
/* DYNAMIC CLASSES */
/****************************************/

.active {
  background-color: var(--color-primary-darker);
  color: var(--color-font-light);
  border: none;
}

.green {
  color: #2b8a3e;
}

.orange {
  color: #ff922b;
}

.red {
  color: #e03131;
}

/****************************************/
/* RESPONSIVENESS */
/****************************************/

/* MEDIUM DESKTOPS */

@media (max-width: 1150px) {
  html {
    font-size: 58%;
  }
  body {
    max-width: 84rem;
  }
  .heading-primary {
    font-size: 4.2rem;
  }
  .card-content {
    height: 50%;
  }
  .card-content {
    height: 45%;
  }
}

/* SMALL DESKTOPS */

@media (max-width: 900px) {
  body {
    max-width: 54rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .top-info {
    font-size: 1.8rem;
  }
}

/* TABS */

@media (max-width: 640px) {
  body {
    max-width: 80%;
  }
  .heading-primary {
    font-size: 4.2rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 14rem;
    font-size: 1.4rem;
  }
}

/* MOBILES */

@media (max-width: 440px) {
  html {
    font-size: 52%;
  }
  .heading-primary {
    font-size: 3.2rem;
  }
  .card {
    height: 32rem;
  }
}

/* SMALL MOBILES */

@media (max-width: 365px) {
  html {
    font-size: 44%;
  }
}

/* SMALL MOBILES */

@media (max-width: 300px) {
  html {
    font-size: 32%;
  }
}
